<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxn.example.webapp.dao.PrivilegeMapper">

    <resultMap id="privilegeResultMap" type="cn.wxn.example.webapp.entry.Privilege">
        <id column="p_id" property="id"/>
        <result column="p_name" property="name"/>
        <result column="p_description" property="description"/>
        <result column="p_url" property="url"/>
        <result column="icon" property="icon"/>
        <result column="is_menu" property="isMenu"/>
        <association property="parent" javaType="cn.wxn.example.webapp.entry.Privilege">
            <id column="parent_id" property="id"/>
        </association>
    </resultMap>

    <insert id="insertPrivilege" parameterType="cn.wxn.example.webapp.entry.Privilege" useGeneratedKeys="true"
            keyProperty="id">
        insert into privilege(
        <trim suffixOverrides=",">
            <if test="name != null">
                p_name,
            </if>
            <if test="description != null">
                p_description,
            </if>
            <if test="url != null">
                p_url,
            </if>
            <if test="parent != null and parent.id != null">
                parent_id,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="isMenu != null">
                is_menu,
            </if>
        </trim>
        ) values(
        <trim>
            <if test="name != null">
                #{name},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
            <if test="parent != null and parent.id != null">
                #{parent.id}
            </if>
            <if test="isMenu != null">
                #{isMenu},
            </if>
        </trim>
        );
    </insert>

    <update id="updatePrivilege" parameterType="cn.wxn.example.webapp.entry.Privilege">
        update privilege SET
        <trim suffixOverrides=",">
            <if test="name != null">
                p_name = #{name},
            </if>
            <if test="description != null">
                p_description = #{description},
            </if>
            <if test="url != null">
                p_url = #{url},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="parent != null and parent.id != null">
                parent_id = #{parent.id}
            </if>
            <if test="isMenu != null">
                is_menu,
            </if>
        </trim>
        where p_id = #{id};
    </update>

    <select id="findPrivilegeById" parameterType="long" resultMap="privilegeResultMap">
        select p_id, p_name, p_description, parent_id, p_url, icon, is_menu from privilege
        where p_id = #{id};
    </select>

    <select id="findPrivilegeByName" parameterType="String" resultMap="privilegeResultMap">
        select p_id, p_name, p_description, parent_id, p_url, icon, is_menu from privilege
        where p_name = #{name};
    </select>

    <delete id="deletePrivilege" parameterType="long">
        delete from privilege where p_id = #{id};
    </delete>

    <select id="findPrivileges" resultMap="privilegeResultMap">
        select * from privilege;
    </select>

    <select id="findRolePrivileges" parameterType="long" resultMap="privilegeResultMap">
        select
        rp.rp_id rprpid, rp.r_id rprid, rp.p_id rppid,
        p.p_id, p.parent_id, p.p_name, p.p_description, p.p_url, p.icon, p.is_menu
        from
        role_privilege rp
        left join
        privilege p
        on
        rp.p_id=p.p_id
        where
        rp.r_id=#{id};
    </select>

    <insert id="insertRolePrivileges" parameterType="cn.wxn.example.webapp.entry.Role">
        insert into role_privilege
        (r_id, p_id)
        VALUES
        <foreach collection="privileges" item="privilege" separator=",">
            (#{id}, #{privilege.id})
        </foreach>;
    </insert>

    <delete id="deleteRolePrivileges" parameterType="cn.wxn.example.webapp.entry.Role">
        delete from role_privilege
        where r_id=#{id}
        and p_id
        IN
        <foreach collection="privileges" item="privilege" open="(" close=")" separator=",">
            #{privilege.id}
        </foreach>;
    </delete>

</mapper>