<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxn.example.webapp.dao.RoleMapper">

    <resultMap id="roleResultMap" type="cn.wxn.example.webapp.entry.Role">
        <id column="r_id" property="id"/>
        <result column="r_name" property="name"/>
        <result column="r_description" property="description"/>
    </resultMap>

    <insert id="insertRole" parameterType="cn.wxn.example.webapp.entry.Role" useGeneratedKeys="true" keyProperty="id">
        insert into role(
        r_name
        <if test="description != null">
            , r_description
        </if>
        ) values(
        #{name}
        <if test="description != null">
            , #{description}
        </if>
        );
    </insert>

    <update id="updateRole" parameterType="cn.wxn.example.webapp.entry.Role">
        update role SET
        <if test="name != null">
            r_name = #{name}
        </if>
        <if test="name != null and description != null">
            ,
        </if>
        <if test="description != null">
            r_description = #{description}
        </if>
        where r_id = #{id};
    </update>

    <select id="findRoleById" parameterType="long" resultMap="roleResultMap">
        select r_id, r_name, r_description from role
        where r_id = #{id};
    </select>

    <delete id="deleteRole" parameterType="long">
        delete from role where r_id = #{id};
    </delete>

    <select id="findRoles" resultMap="roleResultMap">
        select * from role;
    </select>

</mapper>